.sentMessage {
    justify-self: end;
    background-color: lightblue;
    color: black;
    padding: 2px;
    align-self: flex-end;
    /* position: absolute; */
}

.receivedMessage {
    float: left;
    background-color: lightpink;
    color: black;
    padding: 2px;
    align-self: flex-start;
}

/* .message {
    width: ;
} */
